@{
    ViewData["Title"] = "Home Page";
}
<div class="borderLeft"></div>
<div class="borderRight"></div>
<div class="text-start welcome">
    <div style="position:relative;top:75px; left:50px;"> 
        <h1>Dobrodošli!</h1>
    </div>
    <img src="~/sky.jpg"/>
</div>

<div class="inputBox mainContent" style=padding:20px>
    <h2><b>O Sajtu:</b></h2>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et augue nec odio dignissim mattis. Sed laoreet volutpat ex sit amet faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur rutrum aliquet convallis. Etiam elementum justo elit, ut finibus magna egestas et. Phasellus a purus nec erat gravida lobortis. In erat sem, malesuada in volutpat eu, sodales non quam. Mauris malesuada tortor ac erat rutrum commodo. In vitae aliquet massa, et aliquet orci. Nullam iaculis faucibus magna id rhoncus. Nunc porttitor mauris vel neque euismod hendrerit.

    Mauris iaculis dolor id pellentesque porttitor. Morbi blandit dictum metus et interdum. Maecenas at dolor hendrerit ipsum laoreet interdum at nec dui. Vivamus pharetra arcu et nulla luctus feugiat. Pellentesque id imperdiet est. Morbi in leo nec eros malesuada sollicitudin eget vitae purus. Suspendisse vestibulum leo sapien, in lobortis arcu laoreet non. Ut non suscipit libero. Donec rutrum, velit non tincidunt gravida, odio ante sagittis purus, sit amet sagittis eros augue ac turpis. Suspendisse semper turpis quis pharetra facilisis. Fusce elementum magna ac lectus iaculis, in luctus erat mollis. Curabitur eget egestas ante. Fusce at nunc ut magna malesuada hendrerit a quis nibh. In hac habitasse platea dictumst.

    Cras mattis nec risus quis faucibus. Vivamus elementum dui risus, non dapibus nibh mattis vel. Proin dictum tortor id pellentesque finibus. In eget pulvinar libero, ac cursus neque. Donec eu metus commodo, aliquam odio at, vehicula felis. Cras quis ligula vitae risus rutrum pretium ac vitae urna. Duis vulputate nec urna eget venenatis.

</div>
