@{
    ViewData["Title"] = "Profil";
}

<div class="sideProfile">
    <div class="dashed circle">
        <div id=cam style="position:relative; top:35px; left:40px; transform:scale(2); color:rgb(145,145,145);width:30px">
            <div class="fa fa-camera"></div><b>&plus;</b>
        </div>
    </div>
    <br>
    <h2>Ime: Snežana</h2>
    <br>
    <h2>Prezime: Maletin</h2>
    <br>
    <h2>Trenutno iznajmljuje? <b>Da</b></h2>
    <br>
    <h2>Status naloga:</h2><div class=VIP><h2>Kupite VIP!</h2></div>
    <div class=refuseBtn>
        <h1>
            Odjavi se
        </h1>
    </div>
</div>

<div class="mainProfile">
    <h1>Dobro došli, Snežana Maletin!</h1>
    <div class="transactionBox">
        <h3>Pregled transakcija:</h3>
    </div>
    <div class="payment">
        <h3>Načini plaćanja:</h3>
        <div class=cardFilled>
            <p style=position:relative;left:5px><b>Snežana</b></p>
            <p style="margin-top:-15px; position:relative; left:5px"><b>Maletin</b></p>
            <p style="margin-top:-15px; position:relative; left:5px"><b>Broj: 456* **** **** *123 </b></p>
            <p style="margin-top:-15px; position:relative; left:5px"><b>CVC: *** </b></p>
        </div>
        <div class=cardEmpty style=color:rgb(145,145,145)><b style="font-size:500%; position:relative; top:-15px; left:45px">+</b></div>
    </div>
</div>